In [1]:
import pandas as pd
import numpy as np

In [10]:
data=pd.read_excel("ENB2012_data.xlsx")
data.head()

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

In [35]:
X_train=data.iloc[:,:8]
y_train=data.iloc[:,8:]

In [48]:
from sklearn.linear_model import Ridge
model=Ridge(alpha= 10,solver='cholesky')
model.fit(X_train,y_train)
predictions= model.predict(X_train)

In [49]:
score=model.score(X_train,y_train)
score

0.8866084500438389